<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
    
    Data Source=26c0ef71-50cb-4f8a-81e4-a2d4014918cd.sqlserver.sequelizer.com;Initial Catalog=db26c0ef7150cb4f8a81e4a2d4014918cd;Integrated Security=False;User ID=pcncsoupvdhcbcmy;Password=rpKNvzTxr8GJAQGrGoQibJGYhGzNk2nytXFGUYijtgVTanijJaEWwv6PQTFV8fny;MultipleActiveResultSets=True
  -->

  <connectionStrings>
    <add name="DefaultConnection" 
         connectionString="Data Source=26c0ef71-50cb-4f8a-81e4-a2d4014918cd.sqlserver.sequelizer.com;Initial Catalog=db26c0ef7150cb4f8a81e4a2d4014918cd;Integrated Security=False;User ID=pcncsoupvdhcbcmy;Password=rpKNvzTxr8GJAQGrGoQibJGYhGzNk2nytXFGUYijtgVTanijJaEWwv6PQTFV8fny;MultipleActiveResultSets=True" 
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ItemDBContext" 
         connectionString="Data Source=26c0ef71-50cb-4f8a-81e4-a2d4014918cd.sqlserver.sequelizer.com;Initial Catalog=db26c0ef7150cb4f8a81e4a2d4014918cd;Integrated Security=False;User ID=pcncsoupvdhcbcmy;Password=rpKNvzTxr8GJAQGrGoQibJGYhGzNk2nytXFGUYijtgVTanijJaEWwv6PQTFV8fny;MultipleActiveResultSets=True" 
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
