@{
    ViewBag.Title = "Employment History";
    ViewBag.Message = "I like Getting things done";
}
<h2>@ViewBag.Title</h2>
<h4 class="">@ViewBag.Message</h4>

<p>Use this area to provide additional information.</p>
