
@{
    ViewBag.Title = "EmploymentHistory";
}

<div class="jumbotron normal">
    <h2>Employment History</h2>
    <p>
        <h4>2014 – 2015 – JustAd – http://www.justad.mobi/ - Software Engineer</h4>
        <ul>
            <li>Full Stack developer, Backend Platform for Creating and Serving Mobile Ads </li>
            <li><b>FrontEnd "BackOffice"</b> - Yii PHP Framework based portal to help Customers manager their Ads.
            <ul>
                <li> PHP, Yii PHP Framework, HTML5, Javascript, JQuery, MySQL
             </ul>
            <li><b>Backend Big Data Analytics</b> - Long running process in charge of collecting, manipulating, aggregating and saving all of the 
            Analytics created for each Ad.
            <ul>
                <li> PHP, Amazon Web Services (DynamoDB, Elastic Map Reduce, EC2), Akamai (CDN)s
            </ul>
        </ul>
        <h4>2012 – 2014 – JivyGroup – http://www.jivygroup.com - Software Engineer</h4>
        <ul>
            <li>  
                <b>Playalong</b> – Backend development for "Playalong" web applications for Television shows for the French company "Visiware".
                <ul>
                    <li> .Net C#, ASP.NET MVC, jQuery, Javascript, CSS, NoSQL MongoDB, SQL Server, Amazon Web Services (EC2 Cloud)
                    <li> Viewable at: http://www.visiware.com/second-screen-2/
                </ul>
            <li>
                <b>Bamba</b> – Backend development for children web/mobile (android, ipad, iphone) game "My Bamba Stories" - Playable at: http://www.bamba.co.il
                <ul>
                    <li>Server side support for multiple platforms: Web, Mobile: android, ipad, iphone.
                    <li>.Net C#, ASP.NET MVC, Javascript, CSS, NoSQL MongoDB, Facebook API,
                </ul>
            <li>
                <b>Winboard Live Sports</b> – Backend development of "Winboard"
                facebook application for live sports gambling on facebook.
                <ul>
                    <li>Working directly with client.
                    <li>Consistently able to deliver results under tight deadlines (version every ~2 weeks)
                    <li>.Net C#, ASP.NET MVC, Javascript, NoSQL MongoDB, Facebook API, third party feed provider (Enetpulse), Amazon Web Services (EC2 Cloud) , APNS
                </ul>
            <li>
                <b>Beehive B.I.</b> - Backend reporting and analytics framework for online gambling websites.
                <ul>
                    <li>.Net C#, SSIS, SQL Server, ASP.NET MVC
                    <li>Worked directly with client.
                    <li>Viewable at: http://www.beehivebi.com
                </ul>
        </ul>
    </p>
</div>