
@{
    ViewBag.Title = "EmploymentHistory";
}

<div class="jumbotron normal">
    <h2>Employment History</h2>
    <p>
        <h4>2012 – 2014 – JivyGroup – http://www.jivygroup.com - Software Engineer</h4>
        <ul>

            <li>

                <b>JustAd</b> – Halitney.
                <ul>
                    League 2
                </ul>
            <li>
            <li>
                
                <b>Playalong</b> – Backend development for "Playalong" web applications for Television shows for the French company "Visiware".
                <ul>
                    .Net C#, ASP.NET MVC, jQuery, Javascript, CSS, NoSQL MongoDB, SQL Server, Amazon Web Services (EC2 Cloud)
                    Viewable at: http://www.visiware.com/second-screen-2/
                </ul>
            <li>
                <b>Bamba</b> – Backend development for children web/mobile (android, ipad, iphone) game "My Bamba Stories" - Playable at: http://www.bamba.co.il
                <ul>
                    <li>Server side support for multiple platforms: Web, Mobile: android, ipad, iphone.
                    <li>.Net C#, ASP.NET MVC, Javascript, CSS, NoSQL MongoDB, Facebook API,
                </ul>
            <li>
                <b>Winboard Live Sports</b> – Backend development of "Winboard"
                facebook application for live sports gambling on facebook.
                <ul>
                    <li>Working directly with client.
                    <li>Consistently able to deliver results under tight deadlines (version every ~2 weeks)
                    <li>.Net C#, ASP.NET MVC, Javascript, NoSQL MongoDB, Facebook API, third party feed provider (Enetpulse), Amazon Web Services (EC2 Cloud) , APNS
                </ul>
            <li>
                <b>Beehive B.I.</b> - Backend reporting and analytics framework for online gambling websites.
                <ul>
                    <li>.Net C#, SSIS, SQL Server, ASP.NET MVC
                    <li>Worked directly with client.
                    <li>Viewable at: http://www.beehivebi.com
                </ul>
        </ul>
    </p>
</div>