@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div id="letterpress">
        <h1 class="angel-tears-font">Guy Halperin</h1>
        </div>
    <p class="lead customfont">Don't you love it? to make a change in the world. all you need nowadays, is, ten fingers.</p>
        @*<p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
    </div>

<div class="row">
    <div class="col-md-4">

        <h2>Freelancer</h2>
        <p>
            This site shows a demonstration of capabalities.
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Aspiring Entrepreneur</h2>
        <p>My dream is to have something of my own, something that says the name Guy.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Tech Geek</h2>
        <p>Playing with node.js for fun, load tests, getting free hosting to me, is like getting a taste of hummus at the mall.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>