
@{
    ViewBag.Title = "Matrix";
}

@model string
<h2>Matrix</h2>


<table id="tableToSolve" class="CSSTableGenerator"></table>

@*<table id="tableToSolve" class="CSSTableGenerator">
    @foreach (var row in Model)
    {
        <tr>
            @foreach (var cell in row)
            {
                <td>
                    @(cell)
                </td>
            }
        </tr>
    }
</table>*@
</br>

<input id="solveMatrix" type="button" value="Solve" />
<input id="createNewMatrix" type="button" value="New Matrix" />

<script>
    $(document).ready(function () {
        FillTable("@(Model)");
    });

</script>