
@{
    ViewBag.Title = "ReadWriteCache";
}

<h2>ReadWriteCache</h2>

<div id="wrapper">
    <h1 class="chrome">HALITNEY</h1>
    <h3 class="dreams">Once</h3>
    </div>
    <script>

    </script>
<br />
<br />
<br />
<br />
<br />
<br />
    <!--Implement a multiple readers single writer to dictionary-->
    <input type="button" id="start" value="Start!" />

    <input type="button" id="fasterStart" value="FasterStart!" />

    <input type="button" id="mediumFastStart" value="MediumFasterStart!" />

    <input type="button" id="clear" value="Clear!" />

    <input type="text" id="counter" value=1 />
