
@{
    ViewBag.Title = "SSETest";
}

<h2>SSE Test</h2>

<div id="text12">Welcome! - This is an implementation of HTML5 Server Sent Events.</div>
<br />
<script>

   
    if (!!window.EventSource) {
        var source = new EventSource('/api/chart/');
        source.addEventListener('message', function (e) {
            //var json = JSON.parse(e.data);
            //viewModel.chatMessages.push(json);
            //console.log(e.data);
            var newRowInHTML = $('<span><br />' + e.data + '<br /></span>');
            newRowInHTML.hide().appendTo('#text12').fadeTo( "slow" , 1.0);//fadeIn(1000);
            //$('#text12').append(newRowInHTML);
            //newRowInHTML.fadeIn('slow');
        }, false);
        source.addEventListener('open', function (e) {
            console.log("open!");
        }, false);
        source.addEventListener('error', function (e) {
            if (e.readyState == EventSource.CLOSED) {
                console.log("error!");
            }
        }, false);
    } else {
        console.log('crap');
    }
</script>
