@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script type="text/javascript" src="@Url.Content("/Scripts/ticTacToeLogic.js")"></script>
    <title>Hi</title>
</head>
<h2>Tic Tac Toe</h2>
<table id="ticTacToeTable" class="CSSTableGenerator"></table>
<br />
<input id="newGame" type="button" value="New Game" />
<input id="showColorButtons" type="checkbox" value="" /> Show Color Buttons
<br />
<br />
<label id="gameStatus"></label>