body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*color:green;*/
    
}
body, h2, h3, h1, h4
{
    font-family: "My Custom Font", Verdana, Tahoma;
}

#text12
{
    font-family: "My Custom Font", Verdana, Tahoma;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#letterpress {
	/*margin-top:200px;
	text-align:center;*/
}
#letterpress h1 {
	/*font-size:60px;
	font-family: Arial, Helvetica, sans-serif;
	color: #504f4f;
	text-shadow: 0px 2px 1px #bbbaba;*/
    /*background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;*/


    /*font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/

    opacity: 0.8;
color: rgb(114, 0, 0);
   
}
.jumbotron h1 {
font-size: 180px;
}
.jumbotron
{
    background: linear-gradient(to bottom left, white , rgb(199, 219, 255));
    border: 1px solid;
    border-color: white;
}
.jumbotron.normal
{
    font-size: 14px;
    font-weight: 200;
    line-height: 1.5;
    color: inherit;
}
#letterpress h1:hover {
	/*color: #666;
	text-shadow: 0px 2px 1px #333;*/
}

@font-face {
    font-family: "My Custom Font";
    
    /*src: url("../fonts/Delicious-Roman.otf") format("truetype");*/
    src: url("../fonts/Delicious-Roman.otf") format("truetype");
}
.customfont { 
    font-family: "My Custom Font", Verdana, Tahoma;
    font-size:20px;
}

@font-face {
    font-family: "angel-tears";
    src: url("../fonts/AngelTears.otf") format("truetype");
}

@font-face {
    font-family: "candy";
    src: url("../fonts/Candy.otf") format("truetype");
}
.angel-tears-font { 
    font-family: "angel-tears", Verdana, Tahoma;
}

.col-md-4 h2
{
    font-size:60px;
    font-family: "candy", Verdana, Tahoma;
}

.col-md-4 p
{
    font-family: "My Custom Font", Verdana, Tahoma;
    font-size:15px;
}
html
{
    height:100%;
}

.cool-sub-headline
{
    font-size:65px;
    font-family: "candy", Verdana, Tahoma;
}
.footer-wrapper
{
    position: fixed;
    bottom:0px;
    width:100%;
}
#text12 {
    /*text-shadow: 2px 2px lightgray;*/
}


.CSSTableGenerator {
	margin:0px;padding:0px;
	
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:13px;
	-webkit-border-bottom-left-radius:13px;
	border-bottom-left-radius:13px;
	
	-moz-border-radius-bottomright:13px;
	-webkit-border-bottom-right-radius:13px;
	border-bottom-right-radius:13px;
	
	-moz-border-radius-topright:13px;
	-webkit-border-top-right-radius:13px;
	border-top-right-radius:13px;
	
	-moz-border-radius-topleft:13px;
	-webkit-border-top-left-radius:13px;
	border-top-left-radius:13px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
/*}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:13px;
	-webkit-border-bottom-right-radius:13px;
	border-bottom-right-radius:13px;
}*/
/*.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:13px;
	-webkit-border-top-left-radius:13px;
	border-top-left-radius:13px;*/
}
/*.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:13px;
	-webkit-border-top-right-radius:13px;
	border-top-right-radius:13px;
}*/
/*.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:13px;
	-webkit-border-bottom-left-radius:13px;
	border-bottom-left-radius:13px;
}*/
.CSSTableGenerator tr:hover td{
	background-color:#ffffff;
		

}
.CSSTableGenerator td{
	vertical-align:middle;
		background:-o-linear-gradient(bottom, #e0efff 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e0efff), color-stop(1, #ffffff) ); 
	background:-moz-linear-gradient( center top, #e0efff 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#e0efff", endColorstr="#ffffff");	background: -o-linear-gradient(top,#e0efff,ffffff);

	background-color:#e0efff;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:10px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
/*.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}*/
/*.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
}*/
/*.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}*/
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}